<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Minha Aplicação</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a> -->
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>apartment</mat-icon>
        <span>Locadoras</span>
      </a>
      <a mat-list-item routerLink="/veiculo" routerLinkActive="active">
        <mat-icon>directions_car</mat-icon>
        <span>Veículos</span>
      </a>
      <a mat-list-item routerLink="/montadora" routerLinkActive="active">
        <mat-icon>factory</mat-icon>
        <span>Montadoras</span>
      </a>
      <a mat-list-item routerLink="/modelo" routerLinkActive="active">
        <mat-icon>list_alt</mat-icon>
        <span>Modelos</span>
      </a>
      <button mat-button color="warn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
